{% extends "auctions/layout.html" %}
{% block title %}All {{User.name}} listings {% endblock %}

{% block body %}
  <div class="card-header">
   <h2> All Listings by {{ request.user.username }}</h2>
  </div>
    </div>
    </br>
    <ul id="no_list">
        {% for item in all_listed %}
        <li > 
              <div class="card mb-3" style="max-width: 740px;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="{% if item.image %} {{item.image}} {% else %}
                        https://robohash.org/23.238.193.4.png
                        {% endif %}"  class="card-img" alt="{{item.title}}">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        
                        <a href=" {% url 'listing' item.pk %}"><h5 class="card-title">{{ item.title }}</h5></a>
                        <p class="card-text"> Listed by : <a href="{% url 'watchList' item.pk %}">{{ item.seller }} </a> </p>
                        <p class="card-text"> {{ item.description }}</p> 
                        <p class="card-text"> Price: <strong>${{ item.current_price|floatformat:2 }} </strong>

                        </p> 
                        <p class="card-text"><small class="text-muted">{{ item.created_at }}</small></p>
                      </div>
                    </div>
                  </div>
                </div>
        </li>

{% empty %}
 
  {% if closed %} 
  {% if user.username %}
   <div class="jumbotron">
  <h1 class="display-4">Ohh no, no  closed auction yet. </h1>
  <hr class="my-4">
  
    <p class="lead"> {{ request.user.username }} why not be the first to close a listing?</p>
<!--   <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
  <a class="btn btn-primary btn-lg" href=" {% url 'watchList' request.user.pk %} " {} role="button"> My watchlist </a>
  {% else %}
      <p class="lead"> Guest why not become a user and add a listing to this category?</p>
  <a class="btn btn-primary btn-lg" href=" {% url 'register' %} " {} role="button"> Active </a>
    {% endif %}

{% else %}
  {% if user.username %}
   <div class="jumbotron">
  <h1 class="display-4">Ohh no, this category is yet to recieve an auction. </h1>
  <hr class="my-4">
  
    <p class="lead"> {{ request.user.username }} why not be the first to add a listing to this category?</p>
<!--   <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
  <a class="btn btn-primary btn-lg" href=" {% url 'createListing' %} " {} role="button">Add my listing</a>
  {% else %}
      <p class="lead"> Guest why not become a user and add a listing to this category?</p>
  <a class="btn btn-primary btn-lg" href=" {% url 'register' %} " {} role="button">Register my account!</a>
{% endif %}
{% endif %}
</div>


     
{% endfor %}
</ul>

<br/>

{% endblock %}